.choose-wrapper {
  padding: 60px 8%;
  background: #fff;
}

.choose-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.brand-list {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: hidden; 
  flex: 1;
}

.brand-item {
  min-width: 120px;
  height: 120px;
  background: #c9c7c7;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.brand-item:hover {
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  flex-shrink: 0;
}

.slider-arrow:hover {
  background: #00cbcb;
  
}

@media (max-width: 900px) {
  .brand-item {
    min-width: 100px;
    height: 100px;
  }
  .choose-wrapper {
    padding: 30px 4%;
  }
}